<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-4IVBI7U\SQLEXPRESS;Initial Catalog=TBMS;Integrated Security=True;"/>
  </connectionStrings>
  <userSettings>
    <TimeManagementSystem.Properties.Settings>
      <setting name="TimeTableSystemConnectionString" serializeAs="String">
        <value />
      </setting>
    </TimeManagementSystem.Properties.Settings>
  </userSettings>
</configuration>